# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.source.ruby':
  'capybara':
    'prefix': 'soap'
    'body': 'save_and_open_page'
  'rails redirect':
    'prefix': 'red'
    'body': 'redirect_to '
  'ruby constructor':
    'prefix': 'init'
    'body': 'initialize$1\n  $2\nend'
  'simplecov':
    'prefix': 'cov'
    'body': 'require "simplecov"\nSimpleCov.add_filter "/spec/"\nSimpleCov.start'
  'reqrel':
    'prefix': 'reqrel'
    'body': 'require_relative "$1"'
  'pry':
    'prefix': 'pry'
    'body': 'require "pry"; binding.pry;'
  'end is hard':
    'prefix': '  ebd'
    'body': 'end'
  'active record test logger':
    'prefix': 'ar_logger'
    'body': 'ActiveRecord::Base.logger = Logger.new(STDOUT)'

'.source.js':
  'anonymous function':
    'prefix': 'f'
    'body': 'function($1) {\n  $2\n}'
  'anonymous function2':
    'prefix': 'khg'
    'body': 'function($1) {\n  $2\n}'

'.text.html.erb':
  'end for ruby block':
    'prefix': 'end'
    'body': '<% end %>'
